/* Navy Theme */
.theme-navy .sidebar {
    background-color: #000060;
    color: rgba(255, 255, 255, .6);
}
.theme-navy .content a,
.theme-navy .related-posts li a:hover {
    color: #0000c0;
}

/* Split sidebar */
@media (min-width: 48em) {
    .sidebar-top {
        bottom: auto;
        z-index: 1;
    }
}

/* Spacing fixes */
.container > :last-child {
    margin-bottom: 0;
}
.sidebar-sticky {
    bottom: 2rem;
}
.sidebar-top {
    padding-bottom: 1rem;
}

/* Bottom sidebar font size */
.sidebar-bottom {
    font-size: 14px;
}
@media (min-height: 52em) and (min-width: 58em) {
    .sidebar-bottom {
        font-size: 16px;
    }
}

/* flexbox support for mobile view */
@media (max-width: 47.99em) {
    /* input to http://pleeease.io/play/
    html, body {
        height: 100%;
        min-height: 100%;
    }
    body {
        display: flex !important;
        flex-direction: column !important;
    }
    .sidebar {
        flex: 0 0 auto !important;
    }
    .sidebar-top {
        order: 1;
    }
    .sidebar-bottom {
        order: 3;
    }
    .content {
        flex: 1 0 auto !important;
        order: 2;
        width: 100%;
    }
    output and duplicate -webkit-box* properties with -moz-box* */
    html, body {
        height: 100%;
        min-height: 100%;
    }
    body {
        display: -webkit-box !important;
        display: -moz-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -moz-box-orient: vertical !important;
        -moz-box-direction: normal !important;
        -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }
    .sidebar {
        -webkit-box-flex: 0 !important;
        -moz-box-flex: 0 !important;
        -webkit-flex: 0 0 auto !important;
        -ms-flex: 0 0 auto !important;
        flex: 0 0 auto !important;
    }
    .content {
        -webkit-box-flex: 1 !important;
        -moz-box-flex: 1 !important;
        -webkit-flex: 1 0 auto !important;
        -ms-flex: 1 0 auto !important;
        flex: 1 0 auto !important;
        width: 100%;
    }
}

/* Mobile view tweaks */
@media (max-width: 47.99em) {
    .sidebar-nav-item {
        display: inline;
    }
    .sidebar-nav-item + .sidebar-nav-item:before {
        content: ' \00b7  ';
        font-weight: normal;
    }
    .sidebar {
        padding: 1rem 0;
    }
    .content {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .sidebar-about > h1 {
        margin-bottom: 0;
    }
    p {
        margin-bottom: 0.5rem;
    }
    .lead {
        margin-bottom: 0;
    }
}
@media (max-width: 37.99em) {
    .sidebar-about > h1 {
        font-size: 10vw;
    }
}

/* Tweak to let links take up entire sidebar-nav-item divs now that <a> is inside <div> */
@media (min-width: 48em) {
    .sidebar-nav-item > a {
        display: block;
        width: 100%;
    }
}
